@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #181818;
    color: #fff;
}

/* =========================  ESTILOS BARRA NAVEGACION  ========================= */
.icono-menu {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.icono-menu:hover {
    box-shadow: 0 0 15px 5px rgba(0, 251, 255, 0.9);
}
.rotado {
    transform: rotate(90deg) !important;
    box-shadow: 0 0 15px 5px rgba(255, 155, 55, 0.9);

}
#navbar-start {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.op-menu {
    padding: 10px 14px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: 500ms ease;
}
.im {color: #ff2640;}

.color_menu {background-color: rgba(3, 3, 3, 0.411);}
.color_menu .op-menu:hover {
    color: rgb(48, 237, 244);
    box-shadow: 0 -10px 15px rgba(0, 114, 255, 0.8), 0 10px 15px rgba(0, 114, 255, 0.8),
        -10px 0 15px rgba(0, 114, 255, 0.8), 10px 0 15px rgba(0, 114, 255, 0.8);
}
.color_menu .op-menu:active {
    transition: 0.1s ease;
    color: #ffffff;
}
.color_menu:hover .op-menu:not(:hover) {
    color: white;
    opacity: 0.4;
    filter: blur(1.7px);
}

.menu_desplegado {background-color: rgb(0, 0, 0);}
.menu_desplegado .op-menu {color: #ffffff;}
.menu_desplegado .op-menu:hover {color: #ff2640;}

@media(max-width: 422px) {
    #barrita {
        height: 110px;
    }
    #img_logo {
        width: 190px;
    }
    #contenedor_informacion {
        padding: 0;
        margin: 0;
    }
    #logo_footer {
        width: 210px;
        height: 90px;
    }
    #apple,#twitter,#github,#facebook {
        margin: 6px 6px !important;
        padding: 3px 4px !important;
        font-size: 30px !important;
    }
}
/* =========================  ESTILOS PIE DE PAGINA  ========================= */
#separador_footer {
    height: 2vh;
    background-color: #000000;
}

#contenedor_pie_pagina {background-color: rgb(0, 0, 0); color: #fff;}
.quitar_raya a {
    text-decoration: none;
    color: rgb(255, 95, 114)
}
.quitar_raya a:hover {
    text-decoration: underline;
    color: rgb(101, 234, 255);
}
.politicas a {
    text-decoration: none;
    color: #fff;
}
.politicas a:hover {
    text-decoration: underline;
    color: rgb(255, 95, 114)
}
.lin {border-top: 1px solid rgb(255, 255, 255);}
:root {
    --icon-size: 35px;
    --icon-padding: 5px 7px;
    --icon-margin: 10px 20px;
    --icon-text-shadow: 0 0 35px #0072ff, 0 0 75px #0072ff, 0 0 105px #0072ff, 0 0 140px #0072ff;
    --col:  #00000080
}
#apple,#twitter,#github,#facebook {
    font-size: var(--icon-size);
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px var(--col), 10px 1px 12px var(--col),
        2px 2px 10px var(--col), 2px 2px 3px var(--col), inset 2px 2px 10px var(--col),
        inset 2px 2px 10px var(--col), inset 2px 2px 10px var(--col),
        inset 2px 2px 10px var(--col), inset 2px 2px 10px var(--col);
    border-radius: 20px;
    padding: var(--icon-padding);
    margin: var(--icon-margin);
    animation: animate 5s linear infinite;
    text-shadow: var(--icon-text-shadow);
}
#apple {animation-delay: 0.1s;}
#twitter {animation-delay: 0.4s;}
#facebook {animation-delay: 0.9s;}
#github {animation-delay: 0.5s;}


/* =========================  ESTILOS HEADER  ========================= */
#contenedor_titulo {
    height: 40vh;
    width: 100%;
    background: url(../sources/header.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* =========================  ESTILOS CONTENIDO ========================= */